# Sets

*Set Theory* is a field of mathematics which deals with group membership. Items are said to either **belong** or not **belong** to a set. You may remember venn-diagrams from your early school days. These are an application of set theory.

![A Venn Diagram](./Venn_diagram_cmyk.png)

## Set Theory in a Nutshell

A set tells us whether something belongs to a particular group or not. There is **no concept of duplicates** in sets. Each set can contain an item at most once.

Because sets only tell us whether something belongs to a group or not there is **no concept of order** in sets. Two sets with the same items are identical, regardless of the order in which we write them.

### Sets, Supersets, Subsets
Anyone taking this course belongs to the set of all students. 

The set of all students contains students of TU Dublin, students of UCD *etc.*. 

You all belong to the specific **subset** *students of TU Dublin*. 

You are all taking the *TU123* course; every student taking *TU123* is also a student of TU Dublin, so the set  *TU Dublin students* is a **superset** of *TU123* students (and the set *TU123* students is a **subset** of *TU Dublin Students*.

### Set Operations
A **Union** B is the set of everything in **either** A or B

A **Intersection** B is the set of everything in **both** A and B

A **Minus** B is the set of everything in A that is not also in B

The **symmetric difference** between A and B is everything in either A or B, but not both


### Further Reading
You don't need an exhaustive knowledge of sets to work with Python. But if you're interested in finding out more this [website](https://www.probabilitycourse.com/chapter1/1_2_0_review_set_theory.php) gives a very good introduction.

# Examples

### Creating Sets
We use the python **set()** function to create a set. If we pass a list of items to the set() function those items will be added to the set

In [1]:
s = set()
s

set()

In [2]:
s = set(['Students', 'TU123 Students', 'TU Dublin Students'])
s

{'Students', 'TU Dublin Students', 'TU123 Students'}

Notice that Python uses curly brackets to denote a set, instead of the square brackets used for a list.

### Counting Elements in Set
We can check how many items in a set by using the **len()** function

In [3]:
len(s)

3

### Adding Elements to a set

The **add()** function adds the specified element to a set

In [4]:
s = set()
print(f"The length of an empty set is {len(s)}")
print("Adding an element")
s.add('lucas')
print(f"The new length is {len(s)}")

The length of an empty set is 0
Adding an element
The new length is 1

If we try to add an element that already exists, Python will ignore it.

In [5]:
s = set()
print(f"The length of an empty set is {len(s)}")
print("Adding 'lucas' to the set")
s.add('lucas')
print(f"The new length is {len(s)}")
print("Adding 'lucas' again")
s.add('lucas')
print(f"The new length is {len(s)}")
s

The length of an empty set is 0
Adding 'lucas' to the set
The new length is 1
Adding 'lucas' again
The new length is 1

{'lucas'}

### Removing Elements from a Set
We can remove elements from a set using the **remove()** function. This wil throw an error if the item doesn't exist in the set

In [6]:
s = set()
print("Adding 'lucas' to the set")
s.add('lucas')
print(f"The new length is {len(s)}")
print("Removing 'lucas' from the set")
s.remove('lucas')
print(f"The new length is {len(s)}")

Adding 'lucas' to the set
The new length is 1
Removing 'lucas' from the set
The new length is 0

In [7]:
s = set()
print("Adding 'lucas' to the set")
s.add('lucas')
print(f"The new length is {len(s)}")
print("Removing 'jill' from the set")
s.remove('jill')

Adding 'lucas' to the set
The new length is 1
Removing 'jill' from the set

KeyError: 'jill'

The error above says "KeyError: 'jill'". It's telling us that there was no item called 'jill' in the set. We should check if an item exists in a set before remove it

### Searching for an Element in a Set
We can use the **in** keyword to check if a set contains an element. For large collections of items this is much faster than checking if a list contains an element

In [8]:
print(f"Does our set contain the value 'UCD Students'? {'UCD Studnets' in s}")
print(f"Does our set contain the value 'TU123 Students'? {'TU123 Students' in s}")

Does our set contain the value 'UCD Students'? False
Does our set contain the value 'TU123 Students'? False

### Set Operations

In [9]:
threes = set(range(3, 31, 3))
print(f"Multiples of three {threes}")

fives = set(range(5, 31, 5))
print(f"Multiples of five {fives}")

Multiples of three {3, 6, 9, 12, 15, 18, 21, 24, 27, 30}
Multiples of five {5, 10, 15, 20, 25, 30}

We've just created two sets. One set contains all multiples of 3 up to 30, and the other contains all multiples of 5 up to 30

**Union** will combine the sets, and give us every number which is a multiple of either 3 or 5 (or both)

In [10]:
print(f"Multiples of either 3 or 5 {threes.union(fives)}")

Multiples of either 3 or 5 {3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30}

We can find *common multiples* (multiples of both 3 and 5) using **intersection**. 30 and 15 are the common multiples of 3 and 5

In [11]:
print(f"Multiples of both 3 and 5 {threes.intersection(fives)}")

Multiples of both 3 and 5 {30, 15}

To find all multiples of 5 that aren't also multiples of 3 we use **difference** (we can also use the minus operator)

In [12]:
print(f"Multiples of 5 (but not 3) {fives.difference(threes)}")
print(f"Multiples of 5 (but not 3) {fives - threes}")

Multiples of 5 (but not 3) {25, 10, 20, 5}
Multiples of 5 (but not 3) {25, 10, 20, 5}

To find all multiples of 3 that aren't also multiples of 5 we use **difference** again but reverse the order of the operands

In [13]:
print(f"Multiples of 3 (but not 5) {threes.difference(fives)}")
print(f"Multiples of 3 (but not 5) {threes - fives}")

Multiples of 3 (but not 5) {3, 6, 9, 12, 18, 21, 24, 27}
Multiples of 3 (but not 5) {3, 6, 9, 12, 18, 21, 24, 27}

To find multiples of 5 or 3 (but not both) we can use symmetric difference

In [14]:
print(f"Multiples of 3 or 5 (but not both) {threes.symmetric_difference(fives)}")

Multiples of 3 or 5 (but not both) {3, 5, 6, 9, 10, 12, 18, 20, 21, 24, 25, 27}